body {
  font-family: "Roboto, Arial, sans-serif";
  margin: 0;
  padding: 0;
  background: linear-gradient(135deg, #a80b3f 0%, #d6666e);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container{
  background: white;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
  border-radius: 12px;
  padding: 40px;
  padding-right: 60px;
  width: 100%;
  max-width: 500px;
  text-align: center;
  animation: slideIn 0.8s cubic-bezier(0.25, 1, 0.5, 1);
}

.input-login {
  width: 100%;
  padding: 12px;
  border: 1px solid #ddd;
  border-radius: 6px;
  margin-bottom: 16px;
  transition: border-color 0.3s;
  font-weight: bold;
  font-size: 16px;
}

.input-senha {
  width: 100%;
  padding: 12px;
  border: 1px solid #ddd;
  border-radius: 6px;
  margin-bottom: 16px;
  transition: border-color 0.3s;
  font-weight: bold;
  font-size: 16px;
}

.input-login:focus, .input-senha:focus{
  outline: none;
  border-color:#a80b3f;
  box-shadow: 0 0 5px rgba(106, 17, 203, 0.2)
}

.enter-btn {
  width: 105.5%;
  padding: 16px;
  background: linear-gradient(135deg, #a80b3f, #d6666e);
  color: #fff;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
  font-weight: bold;
}

.enter-btn:hover{
  background: linear-gradient(135deg, #a80b3f, #d6666e);
  filter: brightness(1.1); 
  transform: scale(1.02); 
}

.error-message{
    color: red;
  font-size: 14px;
  margin-bottom: #ffe6e6;
  padding: 8px;
  border-radius: 4px;
  display: none;
  animation: fadeIn 0.3s ease-in-out;
}

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateX(100%);
  }

  to{
    transform: translateX(0);
    opacity: 1;
  }
}

h1{
  margin: 0;
  font-size: 1.8rem;
  color: #333;
  margin-bottom: 28px;
  font-weight: bold;
}

.criarconta{
 display: inline-block; /* Importante para a margem funcionar bem */
    margin-left: 20px;     /* Aumente ou diminua esse número até chegar onde você quer */
    text-decoration: none;
    margin-top: 10px;
    color: #b03052;
}